.form-control {
    border: 1px solid transparent;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: var(--light-primary-color);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(121,84,234,.2);
}

.input-group-text {
    min-width: 150px;
    background-color: #efeafc;
    border: 1px solid transparent;
}

.input-group {
    box-shadow: var(--p-card-shadow,0 0 0 1px rgba(63,63,68,.05),0 1px 3px 0 rgba(63,63,68,.15));
}

.invalid-feedback {
    position: absolute;
    margin: 0;
    top: calc(50% - 10px);
    padding: 0 50px;
    text-align: right;
    width: auto;
    right: 0;
}

.mp-product-textarea {
    min-height: 200px;
}

.was-validated textarea.form-control:invalid,
textarea.form-control.is-invalid {
    background-position: top calc(50%) right calc(.375em + .1875rem);
}

@media screen and (max-width: 991px) {
    .input-group {
        flex-direction: column;
    }

    .input-group-append, .input-group-prepend {
        width: 100%;
        flex: 0 0 100%;
    }

    .input-group-text {
        width: 100%;
    }

    .mp-form-wrapper {
        width: 100%;
        margin: 0;
    }

    .mp-form-col {
        padding: 0;
    }
}