@import "inputs.css";
@import "loader.css";
@import "tables.css";
@import "hamburger_menu.css";

:root {
    --primary-color: #7954ea;
    --dark-primary-color: #514193; ;
    --light-primary-color: #AF98F2;
}

html {
    overflow-y: scroll;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #f8f6fe;
    position: relative;
}

a {
    color: var(--primary-color);
}

a:hover {
    color: #212529;
    text-decoration: none;
}

.btn {
    font-size: .875rem;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--dark-primary-color);
    border-color: var(--dark-primary-color);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: var(--dark-primary-color);
    border-color: var(--dark-primary-color);
}

.btn-primary.focus,
.btn-primary:focus {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.2rem rgba(121,84,234,.2);
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(121,84,234,.2);
}

.z-index-10 {
    position: relative;
    z-index: 10;
}

/* header */

.mp-header {
    color: #f8f6fe;
    background: var(--primary-color);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
}

.mp-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mp-login-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mp-login-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 3px;
    padding: .375rem .875rem;
    cursor: pointer;
}

.mp-login-box:hover {
    background: rgba(255, 255, 255,.1);
}

.mp-login-icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    border-radius: 100%;
    background: #f8f6fe;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.mp-admin-text {
    font-size: 20px;
    font-weight: bold;
    color: rgba(0,0,0,.35);
    vertical-align: middle;
}

.mp-login-name {
    color: white;
    font-weight: bold;
    font-size: 14px;
}

/* /header */

/* layout */

.mp-column-left {
    background: #fff;
    height: calc(100vh - 63px);
    position: sticky;
    position: -webkit-sticky;
    top: 63px;
}

.mp-column-left:after {
    position: absolute;
    content: '';
    opacity: .2;
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 182px;
    background: url('../img/mp-icon.svg') top left no-repeat;
    left: 0;
    right: 0;
    margin: auto;
    bottom: calc(50% - 100px);
    z-index: 0;
}

/* /layout */

/* nav */

.mp-menu {
    padding: 1.6rem 0;
    position: relative;
    z-index: 1;
}

.mp-menu ul {
    padding: 0;
}

.mp-menu li {
    list-style: none;
}

.mp-menu li a {
    display: flex;
    flex-grow: 1;
    max-width: 100%;
    padding: .25rem .875rem;
    margin: 0 .25rem;
    font-size: 14px;
    line-height: 2;
    border-radius: 3px;
    align-items: center;
    font-weight: bold;
}

.mp-menu li a.active {
    background: rgba(121,84,234,.2);
}

.mp-menu li a:hover {
    background: rgba(121,84,234,.05);
    text-decoration: none;
    color: var(--light-primary-color);
}

.mp-menu-item-link .fas {
    font-size: 18px;
    color: rgba(121,84,234,.75);
}

.mp-menu-item-link:hover .fas {
    color: var(--light-primary-color);
}

.mp-menu-item-link.active .fas {
    color: #514193;
}

.mp-menu-item-link.active:hover .fas {
    color: var(--light-primary-color);
}

/* /nav */

/* content */

h2 {
    font-size: 28px;
}

.mp-page-content {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 992px) {
    .mp-page-content > div {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.mp-page-head {
    margin: 16px 0;
}

div.mp-page-head-info,
div.mp-page-head {
    flex: 0 0 100%;
    max-width: 100%;
}

@media screen and (min-width: 992px) {
    div.mp-page-head-info,
    div.mp-page-head {
        flex: 0 0 50%;
        max-width: 50%;
    }
}


.mp-page-title {
    font-weight: bold;
}

@media screen and (min-width: 1200px) {
    .mp-content-text {
        margin-right: -95px;
        margin-left: 100px;
    }
    .mp-content-text-2 {
        margin-right: -135px;
        margin-left: 100px;
    }
}

@media screen and (max-width: 767px){
    .mp-content-text,
    .mp-content-text-2 {
        margin-bottom: -30px;
    }
}



/* /content */

/* no data */

.mp-upload-content {
    padding: 10rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mp-upload-text {
    font-size: 30px;
}

.mp-upload-content .fas {
    font-size: 100px;
    color: var(--primary-color);
    opacity: .2;
}

/* /no data */