/* custom table */

.mp-table {
    display: table;
    border-collapse: separate;
    width: 100%;
}

.mp-table-thead {
    display: table-header-group;
}

.mp-table-thead,
.mp-table-tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.mp-table-tbody {
    font-size: 14px;
}

.mp-table-tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    box-shadow: var(--p-card-shadow,0 0 0 1px rgba(63,63,68,.05),0 1px 3px 0 rgba(63,63,68,.15));
}

.mp-table-th {
    display: table-cell;
    vertical-align: inherit;
    /* custom css*/
    font-weight: bold;
    padding: 9px 15px;
}

.mp-table-td {
    display: table-cell;
    vertical-align: inherit;
    /* custom css*/
    white-space: nowrap;
    padding: 20px 15px;
    background: white;
    border-bottom: 1px solid #f8f6fe;
    transition: all 0.2s ease-in-out;
}

.mp-table-tr:hover .mp-table-td {
    background: rgba(121,84,234,.05);
}

.mp-table-tr:last-child .mp-table-td {
    border-bottom: 1px solid transparent;
}

.mp-table-td-product-name {
    max-width: 150px;
}

@media screen and (min-width: 1200px) {
    .mp-table-td-product-name {
        max-width: 100%;
    }
}

.mp-table-td-product-desc {
    max-width: 150px;
}

@media screen and (min-width: 1600px) {
    .mp-table-td-product-desc {
        max-width: 400px;
    }
}

.mp-actions-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px){
    .mp-actions-box {
        justify-content: flex-end;
    }
}

.ms-action {
    height: 45px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 45px;
    max-width: 45px;
    position: relative;
    font-size: 20px;
}

.ms-action:hover {
    text-decoration: none;
}

.ms-action:before {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: none;
    border-radius: 50%;
    box-sizing: border-box;
    transform: scale(0);
    transition-property: transform,opacity;
}

.ms-update:hover {
    animation: pulse .75s;
    animation-iteration-count: infinite;
}

.ms-delete:hover {
    animation: swing 1s;
}

.ms-action:hover:before {
    background-color: rgba(121,84,234,.1);
    border: none;
    opacity: 1;
    transform: scale(1);
    z-index: 1;
}

@media screen and (max-width: 991px) {
    .mp-table-td-product-desc,
    .mp-table-td-sku {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .mp-table-id,
    .mp-table-td-quantitySum,
    .mp-table-td-gross-price {
        display: none;
    }
}

/* / custom table */